{{template "base" .}}

{{define "title"}}
Home
{{ end }}

{{define "content"}}
<div class="container my-3">
  <a href="/">Back to home</a>
  <article class="blog-post">
    <h2 class="blog-post-title mb-1">{{.Post.Title}}</h2>
    <p class="blog-post-meta">
      {{.Post.UpdatedAt | FormattedDate2}} by {{.Post.Author.Email}}
    </p>
    <div>
      {{.Post.Content}}
    </div>
  </article>
</div>
{{ end }}
